/* Sets background image and font size to 10px */

:root {
    background: url(../images/centurion.jpg);
    font-size: 62.5%;
}

/* Select Bodoni font and resets all margin and padding */

* {
    font-family: 'Libre Bodoni', sans-serif;
    ;
    border: none;
    margin: 0;
    padding: 0;
}

/* Styles quiz area */

.quiz-container {
    width: 40%;
    height: 60%;
    background-color: rgba(139, 9, 0, 0.904);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0 0 10%;
    border-radius: 5px;
}

.heading {
    font-size: 2.5rem;
    color: black;
    margin: 6rem 0 6rem 0;
}

/* Button styling */

.btn {
    text-decoration: none;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: black;
    width: 15rem;
    height: 3rem;
    background-color: darkmagenta;
}

.btn:active,
.btn:hover {
    cursor: url(../images/sword.png), auto;
    transform: scale(1.1);
    border-radius: 5px;
}