/* Sets background image and font size to 10px */
:root {
    background: url(../images/centurion.jpg);
    font-size: 62.5%;
}

/* Select Bodoni font and resets all margin and padding */
* {
    font-family: 'Libre Bodoni', sans-serif;
    ;
    border: none;
    margin: 0;
    padding: 0;
}

.quiz-area {
    width: 40%;
    height: 50%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12% 0 0 10%;
}

.heading {
    color: black;
    margin: 6rem 0 6rem 0;
}

.btn {
    margin-bottom: 1rem;
    border: 1px solid;
}